iframe{
  border-radius: 5px;
  box-shadow: 5px 5px 5px #262626;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 55px;
  margin-bottom: 2%;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

body{
  background-color: #262626;
  color: #bfbfbf;
}

.btnInline{
  width: 10em;
}

.hidden{
  display: none;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 60%;
}


.titleText{
  font-size: 48pt;
  color: #c0392b;
}
