iframe{
  border-radius: 5px;
  box-shadow: 5px 5px 5px #262626;
}

body{
  background-color: #262626;
  color: #bfbfbf;
}

.hidden{
  display: none;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
