iframe{
  border-radius: 5px;
  box-shadow: 5px 5px 5px #262626;
}

span{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: black;
}

hr{
  background-color: #b3b3b3;
  border: 1px solid grey;
  opacity: 0.4;
  width: 95%;
}

h1{
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #b3b3b3;
  font-size: 5em;
  margin-bottom: 2%;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: black;
}

h3{
  margin-top: 2%;

  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: black;
}

body{
  background-color: #262626;
  color: #bfbfbf;
}

.shadow{
  box-shadow: 5px 5px 3px #888888;
}

.btnInline{
  width: 10em;
}

.hidden{
  display: none;
}

.center-div{
  margin-top: 15%;
}

.paperTexture{
  background-image: url(../assets/paperTexture.png);
  border-radius: 3px;
}

.titleText{
  font-size: 48pt;
  color: #c0392b;
}
